.holder {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 1000px;
  min-width: 1300px;
}

.first {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 70%;
  background: #141414;
  color: white;
  background-image: url("../public/icons/Bars.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.second {
  position: relative;
  width: 100%;
  height: 30%;
  background: #cfd3d6;
}

.second_image {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("../public/icons/GradientClipped.png");
  background-position: right;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 40%;
}

.down_arrow {
  right: 40px;
  height: 100%;
  width: 20%;
  background-position: center;
  position: absolute;
  background-image: url("../public/icons/DownArrow.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  z-index: 1;
}

.left_side {
  grid-column: 1/3;
  margin-top: 40px;
  position: relative;
}

.title_text {
  font-size: 16rem;
  font-weight: 500;
  font-family: "header";
  letter-spacing: -5rem;
  color: #d1d1d1;
  text-align: center;
  transform: translateX(-2rem);
}

.cuty_picture {
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 1/1;
  height: 95%;
  transform: translateX(-50%);
  background-image: url("../public/icons/photoofme.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

.right_side {
  grid-column: 3/5;
  position: relative;
  height: 100%;
}

.right_side_text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  font-size: 1.9rem;
  width: 50%;
  font-family: bilo;
  font-weight: 100;
}

.coordinates {
  font-size: 1.3rem;
}

.right_side_bar {
  position: absolute;
  top: 30%;
  right: 0px;
  width: 60%;
  height: 20%;
  background: #282828;
}

.circle_text {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  background-image: url("../public/icons/wordbubble.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: rotate infinite 20s linear;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

.second_text {
  position: absolute;
  width: 30%;
  left: calc(50% + 20px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  font-family: bilo;
  font-weight: 500;
}

.navigation {
  position: absolute;
  top: 30px;
  right: 30px;
  aspect-ratio: 1;
  height: 50px;
  border-radius: 50%;
  background-color: #aaa;
  display: grid;
  place-items: center;
  z-index: 1;
}

.hamburger {
  height: 20%;
  width: 50%;
  border-top: solid 2px #141414;
  border-bottom: solid 2px #141414;
}
